---
layout: default
title: Home
---
<!-- ========== BIO ========== -->
<div class="docs-section" id="bio">
  <h4>Bio</h4>
  <p>
  I am an incoming PhD student in Pure Mathematics and Mathematical Statistics at the University of Cambridge, supervised by <a href="https://www.maths.cam.ac.uk/person/sb2116" target="_blank">Sergio Bacallado</a> and advised by <a href="https://www.maths.cam.ac.uk/person/rn289" target="_blank">Richard Nickl</a>. I am a <a href="https://becarios.fundacionlacaixa.org/en/fernando-ruiz-mazo-PFA25-00037F" target="_blank">La Caixa Foundation</a> fellow.
  </p>

  <p>
  My research lies at the intersection of pure mathematics, statistics, and machine learning. I am currently interested in understanding how transformers perform in-context learning — in particular, how they learn kernel representations when trained to match Gaussian Process posteriors, and what this implies for uncertainty quantification.
  </p>

  <p>
  Currently, I am completing an MPhil in Mathematics at Cambridge, doing research on similar topics. Previously, I was a research assistant at Aalto University under the supervision of <a href="https://people.csail.mit.edu/vgarg/" target="_blank">Vikas Garg</a>. I received my BSc in Mathematics from the Universidad de Sevilla, where my final dissertation was on topological data analysis.
  </p>
</div>

<!-- ========== PUBLICATIONS ========== -->
<div class="docs-section" id="publications">
  <h4>Publications</h4>

  {% for paper in site.data.publications.papers %}
    <div class="paper">
      <p class="title"><b>{{ paper.title }}</b></p>
      <p>{{ paper.authors }}</p>
      <p><i>{{ paper.venue }}</i></p>
       <div class="paper-buttons">
        {% if paper.paper_pdf %}
          <a class="button" href="{{ paper.paper_pdf }}" target="_blank">Paper</a>
        {% endif %}

        {% if paper.code %}
          <a class="button" href="{{ paper.code }}" target="_blank">Code</a>
        {% endif %}
      </div>
    </div>
  {% endfor %}
</div>

<!-- ========== RESUME ========== -->
<div class="docs-section" id="resume">
  <h4>CV</h4>

  <!-- The Timeline -->
  <ul class="timeline">
    {% for exp in site.data.experience.experiences %}
    <li>
      {% if exp.category == "work" %}
      <div class="direction-l">
      {% else %}
      <div class="direction-r">
      {% endif %}
        <div class="flag-wrapper">
          <span class="flag">{{ exp.place }}</span>
          <span class="time-wrapper"><span class="time">{{ exp.time }}</span></span>
        </div>
        <div class="desc"><b>{{ exp.title }}</b> <br/> {{ exp.subtitle }}</div>
      </div>
    </li>
    {% endfor %}
  </ul>
</div>
